<!DOCTYPE html>
<!-- could be called login -->
<html>
  <head>
    <title>Register</title>
  </head>
  <body>
    <div>
      <h1>Register with Passport and SQL</h1>
    </div>
    <form action="/register" method="post">
      <div>
        <label for="username">Username:</label>
        <input type="text" name="username" id="username">
      </div>
      <div>
        <label for="password">Password:</label>
        <input type="text" name="password" id="password">
      </div>
      <div>
        <a href="/">Login</a>
        <input type="submit" value="Register">
      </div>
    </form>
  </body>
</html>
